.contactWrapper {
  display: flex;
  flex-direction: row;
  align-items: right;
}
.title {
text-align: right;
width: 40%;
}

.line {
  position: relative;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 100%;
  vertical-align: top;
  border-radius: nullpx;
  margin-bottom: 2%;
  color: #facd2e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow: hidden;
  text-align: right;
}

.line:before,
.line:after {
  background-color: #FACD2E;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line:before {
  right: 0.5em;
  margin-left: -50%;
}

.line:after {
  left: 0.5em;
  margin-right: -50%;
}


.contactInner {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-bottom: 200px;
  color: white;
  
  margin-right: 10%;
}

.contactForm {
  width: 60%;
  padding: 50px; 
  border-radius: 15px;
  margin-left: 0%;
  background: black;
  border-color: #075E5E;  
  border-width: .25em;  
  border-style: double;  
  display: flex;
  flex-direction:column;
}

.inputBox {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.contactForm input {
  width: 100%;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  height: 50px;
  padding: 10px;
  background: transparent;
  font-size: 25px;
  outline: none;
  transition: 0.5s;
}
.contactForm span {
  position: absolute;
  left: 15px;
  padding: 12px;
  transition: 0.5s;
}

.contactForm textarea {
  width: 100%;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  height: 150px;
  padding: 10px;
  background: transparent;
  font-size: 20px;
  outline: none;
  transition: 0.5s;
}

.contactForm input:focus ~ span {
  transform: translateY(-35px);
  left: 0px;
}

.contactForm input:valid ~ span {
  transform: translateY(-35px);
  left: 0px;
  color: lightgreen;
}

.contactForm input:valid {
  border: 2px solid lightgreen;
}

.contactForm textarea:focus ~ span {
  transform: translateY(-35px);
  left: 0px;
}

.contactForm textarea:valid ~ span {
  transform: translateY(-35px);
  left: 0px;
  color: lightgreen;
}

.contactForm textarea:valid {
  border: 2px solid lightgreen;
}

.submitWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submitBtn {
  border-radius: 10px;
  margin-left: 30px;
  width: auto;
  padding: 20px;
  height: 50px;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-size: 30px;
}
