.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-bottom: -5%;
}

.leftLogo {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  padding: 2em;
  margin-top: 5em;
  /* margin-right: 12%; */
}

.leftLogo img {
  margin-top: 10%;
  height: 7em;
  /* justify-content: left; */
}

.rightGif {
  justify-content: right;
  padding: 3em;
}

.rightGif img {
  width: auto;
  height: 35em;
}
