.Home {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin-bottom: -5%;
}

.leftLogo {
  margin-top: 16vh;
  display: flex;
  margin-right: 20%;
}

.leftLogo img {
  padding: 30px;
  width: 500px;
}

.rightGif {
  margin-top: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightGif img {
  width: auto;
  height: 80%;
}
