* {
  font-family: "Russo One";
}

.NavBar{
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 10000;
    width: 100%;
    /* margin-top:-60px; */
    top: 50px !important;
    
}

.NavBar button{
    margin-left: 50px;
    font-size: 25px;
    background-color: transparent;
    color:white;
    border:transparent;
    font-weight: 600;
    cursor:pointer;
    text-shadow: -2px 2px 0 #4baab1, 2px 2px #4baab1, -2px -2px 0 #4baab1;
}