@import url("https://fonts.googleapis.com/css?family=Orbitron");

.Project {
  /* display: flex; */
  width: 100%;
  justify-content: center;
  height: 150vh;
  overflow: hidden;
  margin-bottom: -5%;
}

.Heading {
  font-family: "Orbitron";
}

@font-face {
  font-family: "Orbitron";
  src: url(https://fonts.googleapis.com/css?family=Orbitron);
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* margin-top: 5%; */
  margin-left: 10%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border: 1px solid black;
}

.projectText {
  margin-top: 10%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
  color: #ffffff;
  vertical-align: top;
  border-radius: nullpx;
  margin-bottom: 1%;
  text-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.25);
}

.projectImage {
  height: 30vh;
  justify-content: center;
  margin: 0em 1em 0em 0em;
}

.scrollText {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  /* margin: 6em 10em 10em 10em; */
  margin-top: 6em;
  justify-content: center;
}

.rocketImage {
  position: relative;
  width: 15%;
  /* justify-content: center; */
  /* margin: 0em 10em 10em 10em; */
  margin-top: 0em;
}

.rocketContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 10%;
    }
