.Project {
  width: 100%;
  justify-content: center;
  height: 100%;
  overflow: visible;
  padding: 1em;
  margin-bottom: 5%;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 5%;
  margin-left: 10%;
}

.projectText {
  margin-top: 10%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
  color: #ffffff;
  vertical-align: top;
  border-radius: nullpx;
  margin-bottom: 1%;
  text-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.25);
}

.projectImage {
  height: 30vh;
  justify-content: center;
  margin: 0em 1em 0em 0em;
}

.projectImage:hover {
  transform: scale(1.2);
  z-index: 3;
}

.scrollText {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  /* margin: 6em 10em 10em 10em; */
  margin-top: 6em;
  justify-content: center;
  margin-bottom: 0em;
}

.rocketImage {
  position: relative;
  width: 15%;

  margin-top: 0em;
  margin-bottom: 0em;
}

.rocketContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 0em;
}
