@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.Recruitment {
  display: flex;
  width: 90%;
  justify-content: left;
  height: 100%;
  overflow: hidden;
}

.motion {
  height: 160px;
}

.roles:hover {
  transform: scale(1.2) rotate(350deg);
  z-index: 3;
}

.SubTitleText {
  margin-top: 5%;
  margin-left: 10%;
  position: relative;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  color: #ffffff;
  vertical-align: top;
  border-radius: nullpx;
  /* margin-bottom: 1%; */
  text-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.25);
}

.rolesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 10%;
}

.roles {
  padding: 5vw;
  width: 30em;
}

.roleText {
  margin-top: 15%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: #ffffff;
  vertical-align: top;
  border-radius: nullpx;
  margin-bottom: 1%;
  text-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.25);
}

.roleType {
  color: #FACD2E;
  font-size: 50px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-top: 5vh;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 10%;
}

.applicationButton {
  background-color: #1DABAA;
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 30px;
  width: 490px;
  text-align: center;
}

.applicationContainer {
  display: flex;
  flex-wrap: wrap;
  font-weight: 200;
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
}

.info {
  line-height: 43px;
  justify-content: left;
  width: 50em;
}

.links {
  font-size: 30px;
  font-weight: 700;
  padding: 2em;
}

a {
  display: block;
  margin-bottom: 97px;
}

.step p {
  color: #FACD2E;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.descrip p {
  color: white;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #5DABAA;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(17.5% - 32px);
  top: calc(101vh - 85vh - 33px);
  background: #5DABAA;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}

b {
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
}