.Recruitment {
  display: flex;
  width: 100%;
  justify-content: center;
  /* how much height the section should have */
  height: 150vh;
  overflow: hidden;
  margin-bottom: -5%;
}

.RoleImage {
  /* height:20%;
    width:20%; */
  width: 150px;
  height: 130px;
  justify-content: center;
  margin: 10em 10em 10em 10em;
}

.RolesTitleText {
  margin-top: 5%;
  margin-left: 10%;
  width: 241px;
  height: 77px;
  position: relative;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 100%;
  color: #ffffff;
  vertical-align: top;
  border-radius: nullpx;
  margin-bottom: 1%;
  text-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.25);
}

.rolesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* margin-top: 5%; */
  margin-left: 10%;
}

.roles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border: 1px solid black;
}

.roleText {
  margin-top: 15%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  vertical-align: top;
  border-radius: nullpx;
  margin-bottom: 1%;
  text-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.25);
}
