@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Open+Sans&display=swap');



.section{
    height:100%;
    width:100%;
    background:transparent;
}


/*text wrapper left*/
.textWrapperLeft{
    height:100%; /*110%*/
    display:flex;
    flex-direction:column;
    justify-content: center;  /*top*/
}

/* Section tittle */
.title{
    margin-top: 10%;
    margin-left:10%;
    position: relative;
    text-align: left;
    
    font-size: 90px;
    line-height: 100%;
    vertical-align: top;



    border-radius: nullpx;

    color:#FACD2E;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
/* .title {
  margin-top: 10%;
  margin-left: 10%;
  position: relative;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 100%;
  vertical-align: top;
  border-radius: nullpx;
  margin-bottom: 2%;
  color: #facd2e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* Section title */
.p1{
    margin-left:10%;
    width:55%;
    position:relative;
    line-height: 100%;
    text-align: left;
    color: white !important;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.07em;
    font-family: sans-serif;


}
