@import url('https://fonts.googleapis.com/css?family=Orbitron');

.Heading {
      font-family: 'Orbitron'
}

@font-face {
      font-family: 'Orbitron';
      src: url(https://fonts.googleapis.com/css?family=Orbitron) ;
    }