
button {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 86%;
    color: white;
    background-color: transparent;
    border: transparent;
    position: fixed;
}

.HomeButton {
    position: absolute;
    width: 58px;
    height: 17px;
    left: 525px;
    top: 40px;

}

.AboutButton {
    position: absolute;
    width: 61px;
    height: 17px;
    left: 610px;
    top: 40px;
}

.RecruitmentButton {
    position: absolute;
    width: 127px;
    height: 17px;
    left: 675px;
    top: 40px;
}

.ProjectsButton {
    position: absolute;
    width: 85px;
    height: 17px;
    left: 850px;
    top: 40px;
}

.ContactsButton {
    position: absolute;
    width: 78px;
    height: 17px;
    left: 965px;
    top: 40px;
}

