
button {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 86%;
    color: white;
    background-color: transparent;
    border: transparent;
   position: fixed;
}


.HomeButton {
    position: absolute;
    height: 17px;
    left: 32%;
    top: 40px;

}

.AboutButton {
    position: absolute;
    height: 17px;
    left: 40%;
    top: 40px;
}


.RecruitmentButton {
    position: absolute;
    height: 17px;
    right: 52%;
    top: 40px;
}

.ProjectsButton {
    position: absolute;
    height: 17px;
    right: 40%;
    top: 40px;
}

.ContactsButton {
    position: absolute;
    height: 17px;
    right: 31%;
    top: 40px;
}

.MeetTeamButton {
    position: absolute;
    height: 17px;
    right: 21%;
    top: 40px;
}